<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" asp-append-version="true"></script>
    <script src="~/Scripts/files.js" asp-append-version="true"></script>
</head>
<body>


    <form id="uploadFrm" enctype="multipart/form-data" method="post">
        <label style="margin-right:14px;">Upload File.</label>
        <input id="fileSelect" style="display:inline;" type="file" multiple accept=".csv" />
        <input type="button" style="margin-left:10px;" id="btnUploadFile" class="btn-primary" onclick="uploadFiles('fileSelect')" value="Submit">
        <input type="reset" value="Reset">
    </form>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>-->
    <div class="container body-content">
        <!--@RenderBody()-->
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ensek Test Application</p>
        </footer>
    </div>

  

</body>
</html>
